<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <h1>List of links:</h1>
        <a href="/api/v1.0/precipitation">Precipitation data:</a>
        <p>This link provides a years worth of precipitation data from hawaii (/api/v1.0/precipitation)</p>
        <br>
        <a href="/api/v1.0/stations">Station data</a>
        <p>This link provides data for all weather stations in hawaii (/api/v1.0/stations)</p>
        <br>
        <a href="/api/v1.0/tobs">Temperature data</a>
        <p>This link provides a years worth of temperature data from the most active weather station in hawaii (/api/v1.0/tobs)</p>
        <br>
        <p>/api/v1.0/&ltstart> - Copy this text onto the link and replace &ltstart> with a date that you want to get data from</p>
        <br>
        <p>/api/v1.0/&ltstart&gt/&ltend&gt - Copy this text onto the link and replace &ltstart&gt with a date that you want to get data from
        and &ltend&gt with the end date</p>
    </body>
</html>
